<html>
    <head>
        <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', 
                         filename='style.css') }}">
    </head>
    <h1>Formou!</h1>
    
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        <br/>
    {% endfor %}

    <form action="{{ url_for('formou') }}"
          method="POST">
        <label for="id_nome">Nome</label>
        <input type="text" name="nome" id="id_nome" />
        <input type="submit" value="Enviar">
    </form>
</html>
